@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
